<div class="cards">
    <!--Dentro de las card-single van partials con cada una de las cards-->
    <div class="card-single card-1">
        <h3 class="title-cards">Network Voltage (UNet)</h3>
        {{>card1}}
        <h3 class="card-value">10.520 kV</h3>
    </div>

    <div class="card-single card-2">
        <h3 class="title-cards">Excitation Current (Ie)</h3>
        {{>card2}}
        <h3 class="card-value">3.4 A</h3>
    </div>

    <div class="card-single card-3">
        <h3 class="title-cards">Machine Real Power (P)</h3>
        {{>card3}}
        <h3 class="card-value">5139 KW</h3>
    </div>

    <div class="card-single card-4">
        <h3 class="title-cards">Network Frecuency (fNet)</h3>
        {{>card4}}
        <h3 class="card-value">49.99 Hz</h3>
    </div>

    <div class="card-single card-5">
        <h3 class="title-cards">Power Factor (PF)</h3>
        {{>card5}}
        <h3 class="card-value">0.9887</h3>
    </div>

    <div class="card-single card-6">
        <h3 class="title-cards">Machine Voltage (UM)</h3>
        {{>card6}}
        <h3 class="card-value">10.720 kV</h3>
    </div>

    <div class="card-single card-7">
        <h3 class="title-cards">Machine Current (IM2)</h3>
        {{>card7}}
        <h3 class="card-value">305 A</h3>
    </div>

    <div class="card-single card-8">
        <h3 class="title-cards">Machine React. Power (Q)</h3>
        {{>card8}}
        <h3 class="card-value">-2376 KVar</h3>
    </div>

    <div class="card-single card-9">
        <h3 class="title-cards">Machine Frecuency (fM)</h3>
        {{>card9}}
        <h3 class="card-value">49.99 Hz</h3>
    </div>

    <div class="card-single card-10">
        <h3 class="title-cards">Device State</h3>
        {{>card10}}
    </div>

    <div class="card-single card-11">
        <h3 class="title-cards">Alarms</h3>
        {{>card11}}
    </div>

    <div class="card-single card-12">
        <h3 class="title-cards">Limiters & Generator State</h3>
        {{>card12}}
    </div>

    <div class="card-double card-1314">
        <div class="card-single card-13">
            <h3 class="title-cards">Active Mode</h3>
            {{>card13}}
        </div>
        <div class="card-single card-14">
            <h3 class="title-cards">Current Setpoint</h3>
            {{>card14}}
        </div>

    </div>



</div>