<div class="container-card12-All">
    <div class="container-card11" id="card12-gauge">
        <div class="aux-led">
            <div class="digital-status">
                <div class="ident-led">
                    <h3 class="title-led">Ie High</h3>
                </div>
                <div class="led" id="led-16"></div>
            </div>
        </div>

        <div class="aux-led">
            <div class="digital-status">
                <div class="ident-led">
                    <h3 class="title-led">Ie Low</h3>
                </div>
                <div class="led" id="led-17"></div>
            </div>
        </div>

        <div class="aux-led">
            <div class="digital-status">
                <div class="ident-led">
                    <h3 class="title-led">UM High</h3>
                </div>
                <div class="led" id="led-18"></div>
            </div>
        </div>

        <div class="aux-led">
            <div class="digital-status">
                <div class="ident-led">
                    <h3 class="title-led">UM Low</h3>
                </div>
                <div class="led" id="led-19"></div>
            </div>
        </div>

    </div>
    <div class="container-card11" id="card12-gauge">
        <div class="aux-led">
            <div class="digital-status">
                <div class="ident-led">
                    <h3 class="title-led">IM High</h3>
                </div>
                <div class="led" id="led-20"></div>
            </div>
        </div>

        <div class="aux-led">
            <div class="digital-status">
                <div class="ident-led">
                    <h3 class="title-led">Iq Low</h3>
                </div>
                <div class="led" id="led-21"></div>
            </div>
        </div>

        <div class="aux-led">
            <div class="digital-status">
                <div class="ident-led">
                    <h3 class="title-led">V/Hz</h3>
                </div>
                <div class="led" id="led-22"></div>
            </div>
        </div>

        <div class="aux-led">
            <div class="digital-status">
                <div class="ident-led">
                    <h3 class="title-led"></h3>
                </div>
                <div class="space"></div>
            </div>
        </div>

    </div>
    <div class="container-card11" id="card12-gauge">
        <div class="aux-led">
            <div class="digital-status">
                <div class="ident-led">
                    <h3 class="title-led">Grid</h3>
                </div>
                <div class="led" id="led-23"></div>
            </div>
        </div>

        <div class="aux-led">
            <div class="digital-status">
                <div class="ident-led">
                    <h3 class="title-led">Sec. Net</h3>
                </div>
                <div class="led" id="led-24"></div>
            </div>
        </div>

        <div class="aux-led">
            <div class="digital-status">
                <div class="ident-led">
                    <h3 class="title-led">Pri. Net</h3>
                </div>
                <div class="led" id="led-25"></div>
            </div>
        </div>

        <div class="aux-led">
            <div class="digital-status">
                <div class="ident-led">
                    <h3 class="title-led">NoLoad</h3>
                </div>
                <div class="led" id="led-26"></div>
            </div>
        </div>

    </div>
    
</div>