<div class="container-card10" id="card10-gauge">
    <div class="aux-led-10">
        <div class="digital-status" >
            <div class="ident-led">
                <h3 class="title-led">ONline</h3>
            </div>
            <div class="led" id="led-1"></div>
        </div>
    </div>

    <div class="aux-led-10">
        <div class="digital-status">
            <div class="ident-led" >
                <h3 class="title-led">Local</h3>
            </div>
            <div class="led id="led-2""></div>
        </div>
    </div>

    <div class="aux-led-10">
        <div class="digital-status" >
            <div class="ident-led">
                <h3 class="title-led">Remote</h3>
            </div>
            <div class="led" id="led-3"></div>
        </div>
    </div>

    <div class="aux-led-10">
        <div class="digital-status">
            <div class="ident-led" >
                <h3 class="title-led">EEprom</h3>
            </div>
            <div class="led" id="led-4"></div>
        </div>
    </div>

</div>