<div class="container-card11-All">
    <div class="container-card11" id="card11-gauge">
        <div class="aux-led">
            <div class="digital-status">
                <div class="ident-led">
                    <h3 class="title-led">FCB</h3>
                </div>
                <div class="led" id="led-5"></div>
            </div>
        </div>

        <div class="aux-led">
            <div class="digital-status">
                <div class="ident-led">
                    <h3 class="title-led">GCB</h3>
                </div>
                <div class="led" id="led-6"></div>
            </div>
        </div>

        <div class="aux-led">
            <div class="digital-status">
                <div class="ident-led">
                    <h3 class="title-led">SW</h3>
                </div>
                <div class="led" id="led-7"></div>
            </div>
        </div>

        <div class="aux-led">
            <div class="digital-status">
                <div class="ident-led">
                    <h3 class="title-led">Modbus</h3>
                </div>
                <div class="led" id="led-8"></div>
            </div>
        </div>

    </div>
    <div class="container-card11" id="card11-gauge">
        <div class="aux-led">
            <div class="digital-status">
                <div class="ident-led">
                    <h3 class="title-led">Diode</h3>
                </div>
                <div class="led" id="led-9"></div>
            </div>
        </div>

        <div class="aux-led">
            <div class="digital-status">
                <div class="ident-led">
                    <h3 class="title-led">Diode Trip</h3>
                </div>
                <div class="led" id="led-10"></div>
            </div>
        </div>

        <div class="aux-led">
            <div class="digital-status">
                <div class="ident-led">
                    <h3 class="title-led">External</h3>
                </div>
                <div class="led" id="led-11"></div>
            </div>
        </div>

        <div class="aux-led">
            <div class="digital-status">
                <div class="ident-led">
                    <h3 class="title-led">Sup. Alarm</h3>
                </div>
                <div class="led" id="led-12"></div>
            </div>
        </div>

    </div>
    <div class="container-card11" id="card11-gauge">
        <div class="aux-led">
            <div class="digital-status">
                <div class="ident-led">
                    <h3 class="title-led">Sup. Trip</h3>
                </div>
                <div class="led" id="led-13"></div>
            </div>
        </div>

        <div class="aux-led">
            <div class="digital-status">
                <div class="ident-led">
                    <h3 class="title-led">Switchover</h3>
                </div>
                <div class="led" id="led-14"></div>
            </div>
        </div>

        <div class="aux-led">
            <div class="digital-status">
                <div class="ident-led">
                    <h3 class="title-led">E-Stop</h3>
                </div>
                <div class="led" id="led-15"></div>
            </div>
        </div>

        <div class="aux-led">
            <div class="digital-status">
                <div class="ident-led">
                    <h3 class="title-led"></h3>
                </div>
                <div class="space"></div>
            </div>
        </div>

    </div>

</div>