<header class="header" id="header">

    <div class="header__toggle">
        <i class='bx bx-menu' id="header-toggle"></i>
    </div>

    <div class="search">
        <input type="text" placeholder="Search.." required>
        <div class="btn-search">
            <i class='bx bx-search-alt-2 search-icon'></i>
        </div>
    </div>

</header>