<div class="l-navbar" id="nav-bar">
        <nav class="nav">
            <div>
                <a href="#" class="nav__logo">
                    <i class='bx bx-layer nav__logo-icon'></i>
                    <span class="nav__logo-name">UNITROL SYSTEM</span>
                </a>

                <div class="nav__list">
                    <a href="#" class="nav__link active">
                        <i class='bx bx-grid-alt nav__icon'></i>
                        <span class="nav__name">Dashboard</span>
                    </a>

                    <a href="#" class="nav__link">
                        <i class='bx bx-cog nav__icon'></i>
                        <span class="nav__name">System Data</span>
                    </a>

                    <a href="#" class="nav__link">
                        <i class='bx bx-line-chart nav__icon'></i>
                        <span class="nav__name">Trends</span>
                    </a>

                    <a href="#" class="nav__link">
                        <i class='bx bx-cctv nav__icon'></i>
                        <span class="nav__name">Monitor & Protection</span>
                    </a>

                    <a href="#" class="nav__link">
                        <i class='bx bx-microchip nav__icon'></i>
                        <span class="nav__name">I/Os</span>
                    </a>

                    <a href="#" class="nav__link">
                        <i class='bx bx-wifi nav__icon'></i>
                        <span class="nav__name">Communications</span>
                    </a>

                    <a href="#" class="nav__link">
                        <i class='bx bx-fingerprint nav__icon'></i>
                        <span class="nav__name">Device</span>
                    </a>
                </div>
            </div>

            <a href="#" class="nav__link">
                <i class='bx bx-log-out nav__icon'></i>
                <span class="nav__name">Log Out</span>
            </a>
        </nav>
    </div>